@value makerGrey from '../../../common/colors.css';
@value makerGreen from '../../../common/colors.css';

.profileBox {
  display: flex;
  flex-direction: column;
  border: 1px solid makerLightGrey;
  width: 90%;
}

.box {
  display: flex;
}

.pros {
  flex: 1;
  outline: none;
}

.message {
  height: 80px;
}

.btn1 {
  background-color: makerLightGrey;
  height: 30px;
}
.btn2 {
  background-color: makerGreen;
  height: 30px;
}
