@value makerYellow,makerGreen,makerShadow,makerBlack,makerPink,makerColorful,makerWhite from '../../../common/colors.css';

.preview {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.businessCard {
  display: flex;
  background-color: wheat;
  border-radius: 20px;
  width: 90%;
  padding: 2rem 0;
  margin-bottom: 10px;
  box-shadow: 6px 6px 8px 0px makerShadow;
}

.imgArea {
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea {
  flex: 3;
  padding: 1.5rem;
}

.img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.text {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.5rem;
}
.hr {
  width: 100%;
  height: 1px;
  background-color: makerYellow;
  border: none;
}

.title {
  font-size: 2rem;
  color: makerGreen;
  font-weight: bold;
  margin: 1rem 0;
}

.businessCard.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.businessCard.light {
  background-color: makerWhite;
  color: makerBlack;
}

.businessCard.pink {
  background: makerColorful;
}
