@value makerGrey from '../../../common/colors.css';
@value makerLightGrey from '../../../common/colors.css';
@value makerGreen from '../../../common/colors.css';
@value makerPink from '../../../common/colors.css';
@value makerWhite from '../../../common/colors.css';
@value makerBlack from '../../../common/colors.css';

@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.halfWrapper {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid makerLightGrey;
}

.profileBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 3em;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
}

.box {
  display: flex;
}

.input {
  flex: 1 1 30%;
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  font-family: SUIT-Medium;
  border: 0;
  border-right: 1px solid makerBlack;
  border-bottom: 1px solid makerBlack;
}

.message {
  height: auto;
  resize: none;
  padding: 10px;
  font-size: 1.1rem;
  font-family: SUIT-Medium;
  border: 0;
  border-right: 1px solid makerBlack;
  border-bottom: 1px solid makerBlack;
}

.btn1 {
  display: none;
}
.btn2 {
  background-color: makerGreen;
  color: makerWhite;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 0.8rem;
  flex: 1 1 50%;
}

.btn2:hover {
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  color: makerGreen;
  font-weight: bold;
  margin: 1rem 0;
}
